<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-brand" href="#" style="color: red;">
                Gym Scheduler
            </p>

        </div>
    </div>
</nav>

<h2 align="center" style="margin-top: 300px; color: red">Gym Scheduler</h2>



    <div align="center" class="container">
        <div class="input-group" style="margin-bottom: 10px">
            <input type="text" class="form-control" placeholder="Search for Equipments, Trainers and Classes">
            <span class="input-group-btn">
        <!- -<button class="btn btn-default" type="button">Go!</button>-->
                <a href="#/type/Abs/instrument/Adjustable Sit Up Benches" class="btn btn-default" style="height: 34px">
          <span class="glyphicon glyphicon-search"></span>
                </a>
      </span>
        </div>


        <!--<a href="#/login"-->
           <!--class="btn btn-primary btn-block" style="width: 250px">Login</a>-->

        <a href="/auth/google" class="btn btn-danger " style="width: 250px">
            <span class="fa fa-google-plus" ></span>
            Google
        </a>

    </div>
