<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->

            <!--<p class="navbar-brand" href="#" style="color: red;">-->
                <!--Gym Scheduler-->
            <!--</p>-->

        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<nav class=" header-style navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div  class=" col-md-4">
        <a href="#/home" class="navbar-brand">Gym Scheduler
        </a>
        <a href="#/home">
        <img src="../../../gymImg.jpeg" style="height: 45px;width: 45px"/>
        </a>
    </div>

    <div  class=" col-md-7" >

    </div>



</nav>


<h2 align="center"  style="margin-top: 300px; color: red">Gym Scheduler</h2>



    <div align="center" class="container">
        <div class="input-group" style="margin-bottom: 10px">
            <!--<input type="text" ng-model="searchString" class="form-control" placeholder="Search for Equipments, Trainers and Classes" />-->


            <input type="text" name="country" id="country" ng-model="country" ng-keyup="complete(country)" class="form-control" placeholder="Search for Gym Equipments" />
            <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                <li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata}}</li>
            </ul>

            <span class="input-group-btn">

                <a ng-click="model.search(country)" class="btn btn-default" style="height: 34px">
                     <span class="glyphicon glyphicon-search"></span>
                </a>
             </span>

        </div>




        <a href="/auth/google" class="btn btn-danger " style="width: 250px">
            <span class="fa fa-google-plus" ></span>
           <b> Login</b>
        </a>
        <p>Please Login With your Husky ID</p>

    </div>
