<nav class=" header-style navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div  class=" col-md-4">
        <a href="#/category/Abs" class="navbar-brand">Gym Scheduler</a>
    </div>

    <div  class=" col-md-7" >
        <div class="pull-right">
            <div class="input-group pull-right" style="margin-top: 10px; width: 600px">
                <input type="text" class="form-control" placeholder="Search for Equipments, Trainers and Classes">
                <span class="input-group-btn">
                        <a href="#/type/Abs/instrument/Adjustable Sit Up Benches" class="btn btn-default" style="height: 34px">
                             <span class="glyphicon glyphicon-search"></span>
                        </a>
                </span>
            </div>



        </div>
    </div>


    <div  ng-show ="currentUser" class="col-md-1 pull-right" style="padding-top: 15px">

        <a style="color: white;font-size: large" ng-click="model.logout()" class="fa fa-sign-out pull-right" aria-hidden="true">Log out</a>

    </div>


</nav>

<div class="container-fluid" style="margin-top: 150px">

    <!--{{model.categories}}-->
    <div class="col-md-2 right-line1" >

        <ul class="list-group">
            <li class="list-group-item">
             <a href="#/profile"> Profile</a>
            </li>
            <li class="list-group-item">
                <a href="#/dashboard">Dashboard</a>
            </li>



        </ul>

        <ul class="list-group">
            <li class="list-group-item">
                <b style="color: red;font-size: large">All Categories</b>
            </li>

            <li ng-repeat="category in model.categories" class="list-group-item"   >
                <a ng-if="category.name==model.categoryName" href="#/category/{{category.name}}"><b style="font-size: medium">{{category.name}}</b></a>

                <a ng-if="category.name!=model.categoryName" href="#/category/{{category.name}}">{{category.name}}</a>
            </li>

        </ul>

    </div>
    <div class="col-md-2" style="align:center" >

    </div>

    <div class="col-md-5" style="align:center" >

        <h3 style="color: royalblue">Equipments availabe under Category: {{model.categoryName}}</h3>

        <ul class="list-group" style="margin-top: 70px">

            <li ng-repeat="p in model.subcategory" class="list-group-item" >
                <a href="#/admin/{{model.aid}}/adminPartnerList/{{p._id}}/proposal/{{p.applicationId}}">{{p.name}}</a>
                <a class="btn btn-success pull-right" style="height: 29px" href="#">View Eqipment Availability</a>
            </li>

        </ul>

    </div>




</div>