<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">


            <p class="navbar-text pull-left">
                <a href="#/category" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>

            <p class="navbar-brand" href="#" style="color: red;">
                Gym Scheduler
            </p>

            <div class="input-group pull-right" style="margin-top: 10px; width: 800px">
                <input type="text" class="form-control" placeholder="Search for Equipments, Trainers and Classes">
                <span class="input-group-btn">
        <!- -<button class="btn btn-default" type="button">Go!</button>-->
                <a href="#/type/Abs/instrument/Adjustable Sit Up Benches" class="btn btn-default" style="height: 34px">
          <span class="glyphicon glyphicon-search"></span>
                </a>
      </span>
            </div>


        </div>



    </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-top" style="margin-top: 50px;background-color: darkgrey">
    <div class="container-fluid" style="align-items: center">

        <div class="col-md-3 text-center" >

            <a style="text-align: center" href="#/category" role="button">

                    <h4 style="color: black"> <span class="glyphicon glyphicon-th-list"></span>
                        Category</h4>
            </a>
        </div>
        <div class="col-md-3 text-center" >
            <a style="text-align: center" href="#/dashboard" role="button">
                <h4 style="color: black">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Dashboard</h4>
            </a>
        </div>
        <div class="col-md-3 text-center" >
            <a style="text-align: center" href="#/profile" role="button">
                <h4 style="color: black">
                    <span class="glyphicon glyphicon-user"></span>
                    Profile</h4>
            </a>
        </div>
        <div class="col-md-3 text-center" >
            <a style="text-align: center" href="#/home" role="button">
                <h4 style="color: black">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Logout</h4>
            </a>
        </div>

    </div>
</nav>


<!--<h2 align="center" style="margin-top: 300px; color: red">Gym Scheduler</h2>-->



    <!--<div align="center" class="container">-->
        <!--<div class="input-group" style="margin-bottom: 10px">-->
            <!--<input type="text" class="form-control" placeholder="Search for Equipments, Trainers and Classes">-->
            <!--<span class="input-group-btn">-->
        <!--<!- -<button class="btn btn-default" type="button">Go!</button>&ndash;&gt;-->
                <!--<a ng-click="model.updateUser(model.user)" class="btn btn-default" style="height: 34px">-->
          <!--<span class="glyphicon glyphicon-search"></span>-->
                <!--</a>-->
      <!--</span>-->
        <!--</div>-->


        <!--<a href="#/login"-->
           <!--class="btn btn-primary btn-block" style="width: 250px">Login</a>-->

    <!--</div>-->

        <div align="center" class="container-fluid" style="margin-top: 200px;">
            <div class="col-md-4 text-center" >
                <H2>{{model.instrumentName}} </H2>
            </div>
        </div>

        <div align="center" class="container" style="margin-top: 20px;">

            <div class="col-md-6 text-center" >
              <a href="#/type/{{model.ins._id}}/instrument/{{model.ins.n1}}" class="btn  btn-block" style="width: 300px;margin-bottom: 30px;background-color: darkgrey;color: black">{{model.ins.n1}}</a>
            </div>
            <div class="col-md-6 text-center" >
                <a href="#/type/{{model.ins._id}}/instrument/{{model.ins.n2}}" class="btn  btn-block" style="width: 300px;margin-bottom: 30px;background-color: darkgrey;color: black">{{model.ins.n2}}</a>
            </div>
            <div class="col-md-6 text-center" >
                <a href="#/type/{{model.ins._id}}/instrument/{{model.ins.n3}}" class="btn  btn-block" style="width: 300px;margin-bottom: 30px;background-color: darkgrey;color: black">{{model.ins.n3}}</a>
            </div>
            <div class="col-md-6 text-center" >
                <a href="#/type/{{model.ins._id}}/instrument/{{model.ins.n4}}" class="btn  btn-block" style="width: 300px;margin-bottom: 30px;background-color: darkgrey;color: black">{{model.ins.n4}}</a>
            </div>
            <div class="col-md-6 text-center" >
                <a href="#/type/{{model.ins._id}}/instrument/{{model.ins.n5}}" class="btn  btn-block" style="width: 300px;margin-bottom: 30px;background-color: darkgrey;color: black">{{model.ins.n5}}</a>
            </div>
            <div class="col-md-6 text-center" >
                <a href="#/type/{{model.ins._id}}/instrument/{{model.ins.n6}}" class="btn  btn-block" style="width: 300px;margin-bottom: 30px;background-color: darkgrey;color: black">{{model.ins.n6}}</a>
            </div>



        </div>