<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-brand" href="#" style="color: red;">
                Gym Scheduler
            </p>

            <div class="input-group pull-right" style="margin-top: 10px; width: 800px">
                <input type="text" class="form-control" placeholder="Search for Equipments, Trainers and Classes">
                <span class="input-group-btn">
        <!- -<button class="btn btn-default" type="button">Go!</button>-->
                <a href="#/type/Abs/instrument/Adjustable Sit Up Benches" class="btn btn-default" style="height: 34px">
          <span class="glyphicon glyphicon-search"></span>
                </a>
      </span>
            </div>


        </div>



    </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-top" style="margin-top: 50px;background-color: darkgrey">
    <div class="container-fluid" style="align-items: center">

        <div class="col-md-3 text-center" >

            <a style="text-align: center" href="#/category" role="button">

                <h4 style="color: black"> <span class="glyphicon glyphicon-th-list"></span>
                    Category</h4>
            </a>
        </div>
        <div class="col-md-3 text-center" >
            <a style="text-align: center" href="#/user/{{model.id}}" role="button">
                <h4 style="color: black">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Dashboard</h4>
            </a>
        </div>
        <div class="col-md-3 text-center" >
            <a style="text-align: center" href="#/user/{{model.id}}" role="button">
                <h4 style="color: black">
                    <span class="glyphicon glyphicon-user"></span>
                    Profile</h4>
            </a>
        </div>
        <div class="col-md-3 text-center" >
            <a style="text-align: center" href="#/home" role="button">
                <h4 style="color: black">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Logout</h4>
            </a>
        </div>

    </div>
</nav>


<!--<h2 align="center" style="margin-top: 300px; color: red">Gym Scheduler</h2>-->



<!--<div align="center" class="container">-->
<!--<div class="input-group" style="margin-bottom: 10px">-->
<!--<input type="text" class="form-control" placeholder="Search for Equipments, Trainers and Classes">-->
<!--<span class="input-group-btn">-->
<!--<!- -<button class="btn btn-default" type="button">Go!</button>&ndash;&gt;-->
<!--<a ng-click="model.updateUser(model.user)" class="btn btn-default" style="height: 34px">-->
<!--<span class="glyphicon glyphicon-search"></span>-->
<!--</a>-->
<!--</span>-->
<!--</div>-->


<!--<a href="#/login"-->
<!--class="btn btn-primary btn-block" style="width: 250px">Login</a>-->

<!--</div>-->

<div align="center" class="container-fluid" style="margin-top: 200px;">
    <div class="col-md-4 text-center" >
        <H2>Profile: </H2>
    </div>
</div>



<div class="header-padding">

    <form class="form-signin">

        <!--<h2 class="form-signin-heading" style="color:#e21a2d">Login to your account</h2>-->

        <input type="text"  class="form-control" name="username" placeholder="Username" required="" autofocus="" />
        <input type="text"  class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="text" ng-model="userEmail" class="form-control" name="username" placeholder="First Name" required="" autofocus="" />
        <input type="text" ng-model="password" class="form-control" name="password" placeholder="Last Name" required=""/>

        <!--<h5 align="center" style="padding-bottom: 10px"><a href="">Forgot Password</a></h5>-->

        <a href="#/category" class="btn redBG btn-danger btn-block">Submit</a>

        <!--<div style="padding-top:10px;padding-bottom: 0px; width:100%">-->
            <!--<h5 align="center" style="padding-top: 15px; margin-bottom: -30px">-->
                <!--No account?-->
                <!--<a href="#register" style="padding-left: 3px">Register Here</a>-->
            <!--</h5>-->
        <!--</div>-->
    </form>

</div>